*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33ba;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #63ffef;
}
body p{
    color: #eee;
    margin: 1rem 0 2rem 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00bfe0;
    width: 250px;
    min-height: 100px;
    row-gap: 1rem;
    border-radius: 8px;
}
#search{
    font-size: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 2rem;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #eee;
}
.row #output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
#output .temp{
    margin: .5rem 1.5rem 0 0;
}
#output .img{
    margin-bottom: 1rem;
}
#cityName{
    color: #c3fdf4;
}
.row sub{
    font-size: 1rem;
}